@using Orchard.Utility.Extensions
@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.MediaLibrary.Models

@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item post--summary");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");

    string thumbnailUrl = string.Empty;
    string thumbnailAlt = string.Empty;
    string postTitle = string.Empty;

    var thumbnailField = (MediaLibraryPickerField)((IEnumerable<ContentPart>)Model.ContentItem.Parts)
        .SelectMany(p => p.Fields)
        .FirstOrDefault(f => f.Name == "Thumbnail");

    if (thumbnailField != null) {
        thumbnailUrl = thumbnailField.FirstMediaUrl;

        if (thumbnailField.MediaParts != null && thumbnailField.MediaParts.Count() > 0) {
            thumbnailAlt = thumbnailField.MediaParts.FirstOrDefault().AlternateText;
        }
    }

    if (Model.ContentItem.TitlePart != null) {
        postTitle = Model.ContentItem.TitlePart.Title;
    }

}
@tag.StartElement
    <ul class="list flex flex--direction-column flex--direction-row@medium flex--align-center@medium">
        <li class="list__item">
            @if (!string.IsNullOrEmpty(thumbnailUrl)) {
            <img src="@thumbnailUrl" alt="@thumbnailAlt" />
            } else {
            <img src="/Themes/Moov2/Content/blog-default-image.jpg" alt="Thumbnail for @postTitle blog post" class="box box--thumbnail bg--color-grey shadow--box-light" />
            }
        </li>

        <li class="list__item flex--grow margin--left@medium">
            @if (Model.Header != null) {
                @Display(Model.Header)
            }

            @if (Model.Meta != null) {
                @Display(Model.Meta)
            }

            @Display(Model.Content)

            @if(Model.Footer != null) {
                @Display(Model.Footer)
            }
        </li>
    </ul>
@tag.EndElement
