@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@functions {
    // Sets a cookie to highlight the user has loaded assets.
    void SetCookie(string cookieName) {
        var cookie = new HttpCookie(cookieName);
        cookie.Expires = DateTime.Now.AddDays(30);
        WorkContext.HttpContext.Response.Cookies.Add(cookie);
    }
}
@{
    string cookieName = "CachedAssets";
    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
    IHtmlString cssClasses = @Html.ClassForPage();
    string themePath = WorkContext.CurrentTheme.Location + "/" + WorkContext.CurrentTheme.Id;

    //Disabled critical CSS / async loading of CSS until we've got the site initial
    //a stable condition to make a call on what is critical.
    //var hasCookie = WorkContext.HttpContext.Request.Cookies[cookieName] != null;

    //if (!hasCookie)
       // SetCookie(cookieName);

    var hasCookie = true;
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="no-js is-preload @cssClasses @(hasCookie ? "is-fonts-loaded" : "")">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

        @Display(Model.Head)

        <title>@Html.Title(title, siteName)</title> 

        <link rel="icon" href="@Url.Content(themePath + "/Content/favicon.ico")">
		<link rel="apple-touch-icon" sizes="120x120" href="@Url.Content(themePath + "/Content/apple-touch-icon.png")">
		<link rel="icon" type="image/png" sizes="32x32" href="@Url.Content(themePath + "/Content/favicon-32x32.png")">
		<link rel="icon" type="image/png" sizes="16x16" href="@Url.Content(themePath + "/Content/favicon-16x16.png")">
		<link rel="manifest" href="@Url.Content(themePath + "/Content/site.webmanifest")">
		<link rel="mask-icon" href="@Url.Content(themePath + "/Content/safari-pinned-tab.svg")" color="#60E497">
		<meta name="msapplication-TileColor" content="#60e497">
		<meta name="theme-color" content="#60E497">

        @if (hasCookie) {
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="@Url.Content(themePath + "/Styles/Site.css")">

        <script src="@Url.Content(themePath + "/Scripts/vendor/modernizr.min.js")"></script>
        <script src="@Url.Content(themePath + "/Scripts/vendor/picturefill.min.js")" async></script>

        <script src="@Url.Content(themePath + "/Scripts/bundle.js")" async></script>

        <script>
            // Picture element HTML5 shiv
            document.createElement( "picture" );
        </script>

        } else {
        <meta name="fullcss"  content="@Url.Content(themePath + "/Styles/Site.css")">
        <meta name="fulljs"  content="@Url.Content(themePath + "/Scripts/bundle.js")">

        <script src="@Url.Content(themePath + "/Scripts/enhance.js")"></script>

        <link rel="stylesheet" type="text/css" href="@Url.Content(themePath + "/Styles/Critical.css")" />

        <noscript>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Hind:400,400i,700" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="@Url.Content(themePath + "/Styles/Site.css")">
        </noscript>
        }
    </head>
    <body>
        @Display(Model.Body)

        @Display(Model.Tail)
    </body>
</html>
