    @if (Model.Logo != null || Model.Navigation != null) {
    <section class="section--announcement">
        <div class="section__content">
            <a class="logo logo--etch-group" href="https://www.etchuk.com/"></a>
            <p><strong>Announcement:</strong> We&apos;re excited to announce Moov2 has joined the <a href="https://www.etchuk.com/">Etch Group</a>. Our mission and commitment to our clients will remain the same and we look forward to seeing what we can achieve with the support of the Etch family. <a href="https://www.etchuk.com/insights/etchgroup-acquire-moov2">Full details &raquo;</a></p>
        </div>
    </section>

    <header class="header--masthead">
        <div class="main--nav align--vertical-middle list--justify-between">
            @Display(Model.Logo)
            @Display(Model.Navigation)
        </div>
    </header>
    }

    @if (Model.Content != null) {
    <main id="main-content">
        @Display(Model.Content)
    </main>
    }

    @if (Model.FooterPrimary != null || Model.FooterSecondary != null) {
    <footer>
        @Display(Model.FooterPrimary)
        @Display(Model.FooterSecondary)
    </footer>
    }
