    @if (Model.Logo != null || Model.Navigation != null) {
    <header class="header--masthead align--vertical-middle list--justify-between">
        @Display(Model.Logo)
        @Display(Model.Navigation)
    </header>
    }

    @if (Model.Content != null) {
    <main>
        @Display(Model.Content)
    </main>
    }

    @if (Model.FooterPrimary != null || Model.FooterSecondary != null) {
    <footer>
        @Display(Model.FooterPrimary)
        @Display(Model.FooterSecondary)
    </footer>
    }
