    @if (Model.Logo != null || Model.Navigation != null) {
    <header class="header--masthead">
        <section class="header--banner">
            <div class="header--banner-content">
                <a href="https://www.etchuk.com/"><svg class="logo-etch-group" xmlns="http://www.w3.org/2000/svg" version="1" width="100%" height="100%" viewBox="0 0 1200.000000 1200.000000"><path fill="#fff" d="M584 8.7c-8 4.6-16.1 9.3-18 10.4-1.9 1.1-4.2 2.3-5 2.9-4.5 2.8-20.2 12-20.5 12-.2 0-4.5 2.5-9.6 5.5-5 3-9.3 5.5-9.4 5.5-.2 0-3.2 1.7-6.6 3.8-3.5 2.2-8.4 5-10.9 6.4-2.5 1.4-9.7 5.6-16 9.3-6.3 3.7-14 8.1-17 9.8-3 1.6-5.9 3.3-6.5 3.7-.5.4-12 7.2-25.5 15s-35.7 20.8-49.5 28.7c-13.7 8-27 15.7-29.5 17.1-2.5 1.3-5.2 3.1-6.1 3.8-.8.8-1.8 1.4-2.1 1.4-.3 0-6.8 3.6-14.4 8.1-7.7 4.4-15.7 9.1-17.9 10.4-6.2 3.5-63.9 37-74 43-13.6 8-14.8 8.7-22.2 12.9-3.7 2.2-19.8 11.5-35.7 20.8-15.9 9.2-29.2 16.8-29.5 16.8-.4 0-1.2.5-1.9 1.2-.6.6-4.1 2.8-7.6 4.7-11.1 6.2-64.5 37.5-64.3 37.7.1.1 29 17.5 64.2 38.6s65.1 39.1 66.5 40c2.8 1.7 47.4 28.4 51.7 30.9 1.6.9 21.7 13 44.8 26.9 23.1 13.9 43.4 26.1 45.2 27.1 1.7 1 4.9 2.9 7 4.2l3.8 2.4v53.8l-48 .5-48 .5-10.8 6.4c-5.9 3.5-10.8 6.6-10.8 7-.1.3-.2 7.9-.3 16.8-.1 10.5.2 16.4.9 16.4.5.1 21.3.3 46 .4 24.8.2 45.8.3 46.8.4 1.6.1 1.7 2.1 1.7 27.1v27h-95.5v23.5c0 20.1.2 23.6 1.5 23.9.8.3 26.3.4 56.5.4 30.3 0 56.1.1 57.5.1l2.5.1v27c0 17.3-.4 27-1 27.1-6.8.3-174.6 0-175.2-.4-.4-.3-.8-35.4-.7-78.1 0-42.7-.2-77.6-.4-77.6s-11 6.4-24 14.2c-13 7.8-24.6 14.7-25.7 15.2-1.1.6-3.1 1.9-4.5 2.8-1.4.8-13.6 8.2-27.2 16.3L84 635.2v264.6l12.8 7.5c7 4.1 14.3 8.4 16.2 9.4 1.9 1.1 23.8 13.9 48.5 28.3 24.8 14.5 46.4 27.1 48 28 1.7.9 12.4 7.2 23.8 13.9 11.5 6.7 22.3 13 24 14 1.8 1 7.3 4.2 12.2 7.1 5 2.9 10.4 6 12 7 1.7 1 14 8.1 27.4 15.9 13.4 7.9 25.7 15.1 27.5 16.1 1.7.9 11 6.4 20.6 12 9.6 5.7 18.9 11.1 20.5 12 1.7 1 19.2 11.2 39 22.7 61.7 36 108.9 63.5 112 65.3 1.7 1 16.3 9.5 32.5 19s31.4 18.3 33.8 19.6l4.3 2.3 14.2-8.3c7.8-4.6 15.8-9.3 17.7-10.4 1.9-1.1 10.9-6.3 19.9-11.6 9-5.3 16.6-9.6 16.9-9.6.3 0 1.3-.6 2.1-1.4.9-.7 4.1-2.7 7.1-4.4 3-1.6 14.5-8.3 25.5-14.7 11-6.5 22-12.9 24.4-14.3 4-2.2 12.1-6.9 27.1-15.7 2.5-1.5 8.6-5 13.5-7.9 5-2.9 13.9-8.1 20-11.7 6-3.5 11.7-6.9 12.7-7.4 6.5-3.8 34.2-19.9 48.8-28.5 9.6-5.6 19.1-11.2 21-12.2 7.9-4.5 65.2-38 77.8-45.5 4-2.3 7.5-4.3 7.8-4.3.3 0 1.7-.8 3.2-1.9 1.5-1 14.2-8.5 28.2-16.6 24.2-14 33.5-19.4 60-35 6.3-3.8 13.3-7.8 15.5-9.1 2.2-1.2 14.8-8.5 27.9-16.1 21.8-12.7 27-16.3 23.6-16.3-.7 0-2.4-.8-3.8-1.9-2.2-1.5-15.4-9.4-27.7-16.5-2.6-1.5-12.7-7.5-17.3-10.3-2.1-1.2-4.4-2.5-5.2-2.9-.8-.4-3.7-2.2-6.5-3.9-2.7-1.8-7-4.3-9.5-5.7-2.5-1.4-16.9-9.9-32-18.8-15.1-9-32.2-19.1-38-22.5-5.8-3.4-12.4-7.4-14.7-8.8-2.4-1.5-4.4-2.7-4.7-2.7-.2 0-3.3-1.8-6.7-4-3.5-2.2-7.1-4.3-7.9-4.7-.8-.4-4.6-2.6-8.5-4.9-3.8-2.3-8.9-5.3-11.1-6.5-4.9-2.8-91.7-54.1-92.3-54.5-.5-.4-.3-257.3.3-258.2.2-.4 13.4-.7 29.3-.7l28.8.1.3 48.7.2 48.7h58.8v-45.3c0-24.8.1-46.8.1-48.7l.1-3.5 29.8.1c16.3.1 30 .2 30.4.3.5 0 .9 34.7 1 76.9l.3 76.9 17-9.5c9.4-5.1 31.2-17.2 48.5-26.7s34-18.6 37-20.3l5.5-3.1.2-132.4.1-132.4-7.6-4.4c-4.2-2.4-9.9-5.7-12.6-7.3-2.8-1.5-7.8-4.4-11.1-6.3-3.3-2-7.3-4.3-9-5.3-5.6-3.2-21-12.1-22.5-13-.8-.5-16.8-9.8-35.5-20.6-34.4-19.9-37.5-21.7-44.2-25.5-9.5-5.4-30.2-17.4-33.5-19.5-2.1-1.3-4-2.4-4.3-2.4-.3 0-3.8-2-7.8-4.3-9.3-5.7-57.4-33.5-88.2-51.2-13.2-7.5-25.2-14.6-26.7-15.6-1.5-1.1-2.9-1.9-3.1-1.9-.3 0-6.5-3.6-14-7.9-7.4-4.3-15.4-9-17.8-10.4-2.4-1.3-13.1-7.5-23.8-13.7-10.7-6.1-21.5-12.3-24-13.7-2.5-1.4-5.7-3.4-7.1-4.3-1.4-.9-6.3-3.8-11-6.5-10.6-5.9-11.7-6.6-27-15.5-6.9-4-14.4-8.3-16.7-9.6-2.3-1.3-9.3-5.4-15.5-9-6.2-3.7-13.3-7.8-15.8-9.2-2.5-1.4-6.2-3.6-8.2-4.9-2.1-1.2-3.9-2.3-4.2-2.3-.2 0-3.3-1.7-6.7-3.8-3.5-2.1-9.3-5.5-12.9-7.5L598.5.1 584 8.7zm-10.3 488.1l.2 27.2H515v204l-4.2.1c-18.2.2-54 0-54.4-.4-.3-.2-.5-46.2-.5-102.1V524h-30.4c-28.4 0-30.5-.1-30.6-1.8-.5-10.4-.2-52.3.4-52.5.4-.1 40.7-.2 89.5-.2h88.7l.2 27.3zm163.1-25.4c27.7 4.8 47.8 20.3 54.8 42.1 1.6 5.1 1.9 9.1 1.9 26.5v20.4h-28.8c-15.8-.1-28.9-.3-29.1-.5-.3-.3-.6-5.2-.6-10.9-.3-15.6-3.4-21.1-13.5-23.9-2.3-.6-12.1-1.1-22.7-1.1-16.3 0-19.4.3-24.1 2-3 1.1-6.3 3-7.5 4.3-5 5.3-5 4.9-4.8 70.2.1 67-.2 63.6 6.3 69.7 5.5 5.1 8.6 5.7 30.2 5.7 21.8 0 25.6-.7 30.6-5.4 4.3-4 5.5-8.8 5.5-22v-11.1l29.5.1h29.6l-.4 21.5c-.3 18.9-.6 22.2-2.5 27.8-8 22.7-29.1 37.8-57.3 40.7-8.4.9-59.7.9-68 0-31.5-3.3-55.6-22.5-61.5-49-.4-1.7-.8-36.5-.9-77.5-.2-77.8 0-81.4 4.1-90.5 7.7-16.8 22.3-29.1 42.4-35.8 8.9-3 12.2-3.6 21.5-4.4 3.9-.3 7.1-.6 7.2-.7.1-.1 11.2-.1 24.5 0 17.3.1 27 .6 33.6 1.8z"/><path fill="#fff" d="M887 657.8v36.4l3.3-2c2.7-1.6 15.2-8.9 21.9-12.7 26.8-15.2 32.9-19 33.3-20.9.2-1.2.3-10 .2-19.6l-.2-17.5H887v36.3z"/></svg></a>
                <p><strong>Announcement:</strong> We're excited to announce Moov2 has joined the Etch Group. Our mission and commitment to our clients will remain the same and we look forward to seeing what we can achieve with the support of the Etch family. <br />Full details here: <a href="https://www.etchuk.com/insights/etchgroup-acquire-moov2">https://www.etchuk.com/insights/etchgroup-acquire-moov2</a></p>
            </div>
        </section>

        <div class="main--nav align--vertical-middle list--justify-between">
            @Display(Model.Logo)
            @Display(Model.Navigation)
        </div>
    </header>
    }

    @if (Model.Content != null) {
    <main id="main-content">
        @Display(Model.Content)
    </main>
    }

    @if (Model.FooterPrimary != null || Model.FooterSecondary != null) {
    <footer>
        @Display(Model.FooterPrimary)
        @Display(Model.FooterSecondary)
    </footer>
    }
